body{
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container-fluid{
    margin-top: 5em;
    max-width: 1200px;
}

.table{
    border: 3px solid #D1D1D1;
    margin-top: 5em;
}